<!-- Child template -->
{% extends "base.html" %} <!-- "index.html" is inheriting "base.html" -->

{% block content %} <!-- Replaces the empty "block content" in the parent template -->
<h2>Current time: {{ data["now"] }}</h2>
<p>Page visits: {{ data["page_visit"].increment_visits() }}</p>
<p>List of available banner colors:</p>
<ul>
    {% for banner_color in data["banner_colors"] %} <!-- Mimics the Python for-in statement -->
    <li>{{ banner_color }}</li> <!-- list item -->
    {% endfor %} <!-- the end of the "for-in" block -->
</ul>
<div id="color-change">
    <button class="change-banner-color">
        Change Banner Color
    </button>
</div>
{% endblock %} <!-- "block content" -->

{% block styles %} <!-- "block styles" -->
{{ super() }} <!-- Renders the parent stylesheet block - it is not empty -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %} <!-- "block styles" -->

{% block scripts %} <!-- "block scripts" -->
{{ super() }} <!-- Renders the parent scripts block - it is nothing currently -->
<script>
    // "banner_colors" is initialized with the JSON formatted string.
    // "| safe" prevents Jinja2 from translating symbols:
    // the data could contain information that might be an XSS attack.
    const bannerColors = {{ data["banner_colors"] | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script> <!-- Creates a valid relative URL -->
{% endblock %} <!-- "block scripts" -->